@charset "ISO-8859-1";

body{
	
	background-color:#007af4
}

#welcome{
	
	text-align: center;
	font-size: 80px;
	color: #a60d0d;
	
}
#answer{
	font-size:20px;
	color: #ffff00;
	position: absolute;
	top: 50%;
	left:1%;
}

#Stack{
	font-size:20px;
	color: #ffffff;
	position: absolute;
	top: 70%;
	left:1%;	
	
}

#button_span
{
	font-size:30px;
	color: #ffff00;
	position: absolute;
	top: 70%;
	left:40%;	
	
}

#sme{
	font-size:20px;
	color: #ffffff;
	position: absolute;
	top: 70%;
	left:70%;	
	
}

.bold{
	font-weight: bold;
	color: #f5361b;
	
}
.container{
	position: absolute;
	top: 15%;
	left:50%;
	transform: translate(-50%, -50%);
	
}

#Arvest
{
position: absolute;
    top: 20px;
    right: 20px;
}

